.work{


    .titlecontainer{
        text-align: center;

        .title{


        }

        .subtitle{

        }



    }

    .astro{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    
}