.work{
    padding-top: 50px;


    .titlecontainer{
        text-align: center;

        .title{

        }

        .subtitle{
            margin-top: 10px;
            padding-bottom: 32px;
        }



    }

    .astro{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    
}