
@font-face {
    font-family: "Poppins";
    src: url("../../public/fonts/Poppins-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

.footCont{
    height: 150px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    .footItemsOne {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px; 
      }

    .footItemsTwo{
        display: flex;
        justify-content: center;
        align-items: center;

        .copyright{
            align-items: center;
            font-family: "Poppins";
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            color: #787878;
            padding-left: 10px;
            padding-right:10px;
        }
    }
}