@font-face {
  font-family: 'All-Round-Gothic-Bold';
  src: url('../../public/fonts/All-Round-Gothic-W01-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap; 
}

@font-face {
  font-family: 'All-Round-Gothic-Book';
  src: url('../../public/fonts/All-Round-Gothic-W01-Book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


html {
  scroll-behavior: smooth;
}