@font-face {
  font-family: 'All-Round-Gothic-Bold';
  src: url('../../public/fonts/All-Round-Gothic-W01-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap; 
}

@font-face {
  font-family: 'All-Round-Gothic-Book';
  src: url('../../public/fonts/All-Round-Gothic-W01-Book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}



main {
    background: #F5F5F5;
    margin-right: 10px;
    margin-left: 10px;


    .techsection {
      background: linear-gradient(to bottom, #ffffff, #F5F5F5);
    }

  }
