@font-face {
  font-family: 'All-Round-Gothic-Bold';
  src: url('../../public/fonts/All-Round-Gothic-W01-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'All-Round-Gothic-Book';
  src: url('../../public/fonts/All-Round-Gothic-W01-Book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.mainGrid {
  & .MuiGrid-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
  .gridOne{
    padding-top: 110px;
    padding-left: 50px;
    padding-bottom: 50px;

    .intro{
      font-family: 'All-Round-Gothic-Book';
    }
    .name{
      font-family: 'All-Round-Gothic-Bold';
    }
    .loc{ 
      margin-top: 20px;
      margin-bottom: 40px;
    }

  }

  .gridTwo {
    position: relative;
    display: flex; 
    flex-direction: column; // stacks children vertically
    justify-content: flex-end; 
    align-items: center; 
    background-color:#FF9B50;
    width: auto; 
    // height: 650px; //disabled allows orange to fill bottom
    overflow: visible;
    padding-top: 110px;
    margin-top: -100px;
 

  .spilloverImage {
    // position: absolute;
    top: 0;
    left: -13%; 
    right: -10%; 
    width: 150%; 
    height: 650px;

    // Using media queries to change the image size or other properties based on screen size
    @media (max-width: 1540px) { 
      width: 100%; 
      height: 650px;
      // styles for screens smaller than 600px (or use your preferred breakpoint)
    }
  

  }
  @media (max-width: 1540px) { 
    width: 50%; 
    // styles for screens smaller than 600px (or use your preferred breakpoint)
  }
  @media (min-width: 0px) and (max-width: 1000px) { 
    display: none;
  }

}

  .gridthree {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-top: 70px;
    padding-left: 70px;

    .subhead {
      color: #ff9b50;
      font-size: 26px;
      font-weight: 600;
      margin-left: 20px;
      padding-bottom: 20px;
    }

    .subpar {
      color: #787878;
      font-size: 22px;
      margin-left: 20px;
    }

    .resbutton {
      align-self: flex-end;
      width: 531px;
      color: #FF9B50;
      text-align: right;
      font-size: 26px;
      font-style: normal;
      font-weight: 400;
      line-height: 50px;
      background-color: transparent;
      text-transform: none; 
      text-decoration: underline;
    
      &:hover {
        background-color: transparent;
      }
    }
  }
}
