.portfolio {
  margin-bottom: 40px;
  margin-top: 100px;

  .gridOne {
    @media (min-width: 0px) and (max-width: 900px) {
      .title {
        text-align: center;
      }
      .explore {
        text-align: center;
      }
    }
  }

  .gridTwo {
    margin-left: 50px;
    margin-top: 40px;
    @media (min-width: 0px) and (max-width: 900px) {
      padding-left: 25px;
      padding-right: 25px;
      margin-left: 0px;
    }
    .viewProject {
      @media (min-width: 0px) and (max-width: 900px) {
        margin-bottom: 30px;
      }
    }

    .imageDiv {
      @media (min-width: 0px) and (max-width: 900px) {
        display: flex;
        justify-content: center;
        padding-left: 20px;
        padding-right: 20px;
      }
    }
  }
}
