
.tech {
  background: linear-gradient(to bottom, #ffffff, #F5F5F5);
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
  box-sizing: border-box;
  padding-top: 70px;

  @media (min-width: 0px) and (max-width: 900px) {
    padding-top: 50px;
}
}


.tech .heading {
  text-align: center;
  margin-bottom: 20px;
  
}


.tech .technames {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-wrap: wrap;
  
}

.tech .technames > div {
  flex: 1;
  margin: 0 10px;
  display: flex;
  flex-direction: column; 
  align-items: center; 
}

.tech .technames .imageContainer {
  margin-bottom: auto; 
}

.tech .technames .years {
  display: flex;
  align-items: center; 
  justify-content: center; 
  position: absolute;
  top: 10px; 
  left: 0;
  right: 0;
  z-index: 2;  
}
