@font-face {
  font-family: "All-Round-Gothic-Bold";
  src: url("../../public/fonts/All-Round-Gothic-W01-Bold.ttf")
    format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "All-Round-Gothic-Book";
  src: url("../../public/fonts/All-Round-Gothic-W01-Book.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../../public/fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.testimonials {
  background-color: #F5F5F5;
  padding-top: 70px;
  position: relative;
  width: 100%;
  overflow: hidden;

  @media (min-width: 0px) and (max-width: 900px) {
    padding-top: 0px;
  }

  .testitle {
    font-family: "All-Round-Gothic-Book";
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;

    @media (min-width: 0px) and (max-width: 900px) {
      margin-bottom: 0px;
      margin-right: 10px;
      margin-left: 10px;
    }
  }
  .iconLeft {
    position: absolute;
    top: 60%;
    left: 0;
    z-index: 1;
    padding-left: 450px;

    @media (min-width: 0px) and (max-width: 900px) {
      padding-left: 5px;
    }
  }

  .testicard {
    margin-left: 470px;
    margin-right: 470px;
    margin-bottom: 50px;
    display: flex;
    overflow-x: auto;

    @media (min-width: 0px) and (max-width: 900px) {
      margin-left: 25px;
      margin-right: 25px;
    }
  }

  .iconRight {
    position: absolute;
    top: 60%;
    right: 0;
    z-index: 1;
    padding-right: 450px;

    @media (min-width: 0px) and (max-width: 900px) {
      padding-right: 5px;
    }
  }
}

.tcard {
  .cardName {
    font-family: "Poppins";
    font-weight: 600;
    color: #ff9b50;
  }

  .cardTestimony {
    font-family: "Poppins";
    color: #2c2c2c;
  }
}
